<div class="container">
    <form action="/proccess_author" autocomplete="off" class="margin_style" method="get">
        <div class="autocomplete" style="width:300px">
            <label for="author"> Author </label><br>
            <input id = "myAuthor" type="text" name="author" placeholder="Enter author name" value="" onchange="inputChange(this.form)"><br><br>
        </div>

        <div class="autocomplete" style="width:300px">
            <label for="author"> Book </label><br>
            <input id="myBook" type="text" name="book" placeholder="Enter book name" value="" onchange="inputChange(this.form)"><br><br>
        </div>

        <input class="button button_style" type="submit" value="submit"><br>
    </form>
</div>

<div id="chart">

<script>
    function inputChange(myForm)
    {
        let form_data = new FormData(myForm);

        $.ajax({
            data: {'author' : form_data.get('author'), 'book' : form_data.get('book')},
            type: $(myForm).attr('method'),
            url: $(myForm).attr('action'),
            success: function (response) {
                console.log("response:")
                console.log(response.data.children[0].data.domain)
                console.log(response.data.children[1].data.domain)
                //console.log(response['author'])
                alert("successful ajax call");
            }
        });
    }
</script>

<script type="text/javascript">
    //get data for the plot.js script that draws the plot
    let inputData = ['{{plotData}}'];
    let formatedData = inputData[0].split(',');

    let x_axis = []
    let y_axis = []

    let chart_title = "Top 10 authors with most unique words";
    let x_label = "Author";
    let y_label = "Number of unique words";

    for(let i = 0; i < formatedData.length/2; i++)
    {
        x_axis.push(formatedData[i]);
    }

    for(let i = formatedData.length/2; i < formatedData.length; i++)
    {
        y_axis.push(formatedData[i]);
    }
</script>

<script type="text/javascript" src="/plot.js"></script>

<script type="text/javascript">
    //get data for the autocomplete.js
    inputData = ['{{authors_autocomplete}}'];
    let formatedDataAuthors = inputData[0].split(',');

    inputData = ['{{books_autocomplete}}'];
    let formatedDataBooks = inputData[0].split(',');
</script>

<script type="text/javascript" src="/autocomplete.js"></script>