<div class="container">
    <form action="/plot" autocomplete="off" class="margin_style" method="post">
        <div class="autocomplete" style="width:300px">
            <label for="author"> Author </label><br>
            <input id = "myAuthor" type="text" name="author" placeholder="Enter author name" value=""><br>
        </div>

        <div class="autocomplete" style="width:300px">
            <label for="author"> Book </label><br>
            <input id="myBook" type="text" name="book" placeholder="Enter book name" value=""><br>
        </div>

        <input class="button button_style" type="submit" value="submit">
    </form>    

</div>

<div id="chart">

<script type="text/javascript">
    let inputData = ['{{plotData}}'];
    let formatedData = inputData[0].split(',');

    let x_axis = []
    let y_axis = []
    chart_title = "Top 10 authors with most unique words";

    for(let i = 0; i < formatedData.length/2; i++)
    {
        x_axis.push(formatedData[i]);
    }

    for(let i = formatedData.length/2; i < formatedData.length; i++)
    {
        y_axis.push(formatedData[i]);
    }
</script>

<script type="text/javascript" src="/plot.js"></script>

<script type="text/javascript">
    inputData = ['{{authors_autocomplete}}'];
    let formatedDataAuthors = inputData[0].split(',');

    inputData = ['{{books_autocomplete}}'];
    let formatedDataBooks = inputData[0].split(',');
</script>

<script type="text/javascript" src="/autocomplete.js"></script>