<div class="container">
    <div>
        <h1>Author</h1>
        <form action="/author" method="post">
            <input type="text" name="author" placeholder="Enter author name" value="">
            <input type="submit" value="submit">
        </form>
    </div>

    <div>
        <h1>Book</h1>
        <form action="/book" method="POST">
            <input type="text" name="book" placeholder="Enter book name" value="">
            <input type="submit" value="submit">
        </form>
    </div>
</div>

<div id="chart">

<script type="text/javascript">
    let inputData = ['{{plotData}}'];
    let formatedData = inputData[0].split(',');

    let x_axis = []
    let y_axis = []
    chart_title = "Sentences count in the specified ranges";

    for(let i = 0; i < formatedData.length/2; i++)
    {
        x_axis.push(formatedData[i]);
    }

    for(let i = formatedData.length/2; i < formatedData.length; i++)
    {
        y_axis.push(formatedData[i]);
    }
</script>

<script type="text/javascript" src="/plot.js"></script>