{% extends 'shop/base.html' %}

{% block navbar %}
    {% if sign_in_user %}
        {% include 'shop/navbar.html' with user=sign_in_user%}
    {% else %}
        {% include 'shop/navbar.html' with user=none%}
    {% endif %}
{% endblock navbar %}

{% block content %}
    {% if cart.products %}
        <table id="products-table-style">
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Count</th>
                <th>Price [BGN]</th>
                <th>TOTAL Price [BGN]</th>
                <th></th>
            </tr>

            {% for product in cart.products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td> <img src="{{media_root}}/wifi_camera.png"> </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.count }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.total_price }}</td>
                    <td><a href="{% url 'productDedails' product.id %}"><button class="details-button-style"> Product Details </button></a></td>
                </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>TOTAL : {{ cart.total_price }}</td>
                <td><a href="{% url 'chekoutOrder' %}"><button class="details-button-style"> Checkout </button></a></td>
            </tr>
        </table>
    {% else %}
        <script type="text/javascript">
            window.onload = () => {
                alert('Cart is empty');
                window.location.href = "{% url 'products' %}";
            };
        </script>
    {% endif %}
{% endblock content %}