{% extends 'shop/base.html' %}

{% block navbar %}
    {% if sign_in_user %}
        {% include 'shop/navbar.html' with user=sign_in_user%}
    {% else %}
        {% include 'shop/navbar.html' with user=none%}
    {% endif %}
{% endblock navbar %}

{% block content %}
    {% if msg %}
        <p> {{ msg }} </p>
    {% endif %}
    <form id="form" action="{% url 'loginCustomer' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" form="form" value="Submit" class="form-button-position">Submit</button> 
    </form>
{% endblock content %}