{% extends 'shop/base.html' %}

{% block content %}
    {% if product %}
        <div class="flex-container">
            <div class="card">
                <h4><b>{{product.id}}</b></h4> 
                <p>{{product.name}}</p>
                <p>{{product.description}}</p>
                <p>{{product.manufacturer_name}}</p>
                <p>{{product.price}}</p>

                {% if product.count > 0 %}
                    <p>{{product.count}}</p>
                {% else %}
                    <p>Product not in stock</p>
                {% endif %}
                            
            </div>
        </div>
    {% else %}
        <p>Product data not fetched</p>
    {% endif %}
{% endblock content %}