{% extends 'shop/base.html' %}

{% block navbar %}
    {% if sign_in_user %}
        {% include 'shop/navbar.html' with user=sign_in_user%}
    {% else %}
        {% include 'shop/navbar.html' with user=none%}
    {% endif %}
{% endblock navbar %}

{% block content %}
    {% if payment_request_message %}
        <script type="text/javascript">
            window.onload = () => {
                alert("{{ payment_request_message }}");
            };
        </script>
    {% endif %}
    {% if products %}
        <table id="products-table-style">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Count</th>
                <th>Price [BGN]</th>
                <th> --- </th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.count }}</td>
                    <td>{{ product.price }}</td>
                    <td><a href="{% url 'productDedails' product.id %}"><button class="details-button-style"> Product Details </button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No products are available.</p>
    {% endif %}
{% endblock content %}