{% extends 'shop/base.html' %}

{% block content %}
    {% if products %}
        {% for product in products %}
            <div class="flex-container">
                <div class="card">
                    <p>{{product.id}}</p>
                    <h4><b>{{product.name}}</b></h4> 
                    <p>{{product.description}}</p>
                    <p>{{product.price}}</p>
                    <a href="/shop/products/{{ product.id }}/">Product Details</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}